<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="main-container">
        <header class="header">
            <h1 class="title">BASKETBALL APP</h1>
            <nav class="navbar">
                <a href="/equipos" class="nav-link">EQUIPOS</a>
                <a href="/jugadores" class="nav-link">JUGADOR</a>
                <a href="/partidos" class="nav-link">PARTIDO</a>
            </nav>
        </header>
    </div>
</body>
</html>

