<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Jugadores</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listadoequipos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
</head>
<body class="container mt-5">
    <div class="main-principal">
    <div class="alert alert-info display-1 text-center">LISTA DE JUGADORES</div>
    
    {% if jugadores%}
        <table class="table table-stylish">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Posicion</th>
                    <th>Altura</th>
                    <th>Peso</th>
                    <th>Edad</th>
                    <th>Equipo</th>
                    <th>Acciones</th>
                </tr>
        </thead>
        <tbody>
            {% for jugadores in jugadores %}
                <tr>
                    <td>{{ jugadores.nombre }}</td>
                    <td>{{ jugadores.apellido }}</td>
                    <td>{{ jugadores.posicion }}</td>
                    <td>{{ jugadores.altura }}</td>
                    <td>{{ jugadores.peso }}</td>
                    <td>{{ jugadores.edad }}</td>
                    <td>{{ jugadores.equipo.nombreEquipo}}</td>
                    <td>
                            <div class="acciontd">
                                <a href="/eliminarjugador/{{jugadores.id}}" class="btn-eliminar btn-sm">ELIMINAR</a>
                                <a href="/actualizarjugador/{{jugadores.id}}" class="btn-success btn-sm">ACTUALIZAR</a> 
                            </div>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran equipos registrados en el sistema</strong>
    </div>
    {% endif %}
    <div class="botones">
        <a href="/" class="btn btn-volver">VOLVER</a>
        <a href="/agregarjugador" class="btn btn-agregar">AGREGAR JUGADOR</a>
    </div>
</div>
</body>
</html>