<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Partidos</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listadoequipos.css' %}">
</head>
<body class="container mt-5">
    <div class="main-principal">
    <div class="alert alert-info display-1 text-center">LISTA DE PARTIDOS</div>
    
    {% if partidos%}
        <table class="table table-stylish">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estadio</th>
                    <th>Equipo</th>
                    <th>Acciones</th>
                </tr>
        </thead>
        <tbody>
            {% for partidos in partidos %}
                <tr>
                    <td>{{ partidos.fecha }}</td>
                    <td>{{ partidos.hora }}</td>
                    <td>{{ partidos.estadio }}</td>
                    <td>{{ partidos.equipo.nombreEquipo}}</td>   
                    <td>
                            <div class="acciontd">
                                <a href="/eliminarpartido/{{partidos.id}}" class="btn-eliminar btn-sm">ELIMINAR</a>
                                <a href="/actualizarpartido/{{partidos.id}}" class="btn-success btn-sm">ACTUALIZAR</a> 
                            </div>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran equipos registrados en el sistema</strong>
    </div>
    {% endif %}
    <div class="botones">
        <a href="/" class="btn btn-volver">VOLVER</a>
        <a href="/agregarpartido" class="btn btn-agregar">AGREGAR EQUIPO</a>
    </div>
</div>
</body>
</html>