:root {
    --nba-blue: #1D428A;
    --nba-red: #C8102E;
    --nba-white: #FFFFFF;
    --nba-gray: #333333;
    --nba-light-gray: #F8F9FA;
    --font-family: 'Roboto', sans-serif;
}


.main-principal{
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: var(--nba-white);
    border-bottom: 1px solid var(--nba-gray);
}


.main-container {
    background-color: var(--nba-blue);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1;
    max-width: 600px;
    height: 30%;
    margin: auto;
}

.header {
    margin-bottom: 40px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--nba-white);
    letter-spacing: 2px;
    margin-bottom: 20px; 
}


.navbar {
    display: flex;
    justify-content: space-between;
}

.btn{
    
    color:white;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color:#C8102E;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); 
}

.btn:focus{
    outline: 0;
}

.btn a{
    text-decoration: none;
    color: inherit;
}


.teams {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 50px;
    text-align: center;
}


.teams img {
    width: 100px;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    margin: 10px;
}




