/* Variables de colores NBA */
:root {
    --nba-blue: #1D428A;
    --nba-red: #C8102E;
    --nba-white: #FFFFFF;
    --nba-gray: #333333;
    --nba-light-gray: #F8F9FA; /* Un gris claro para contrastar */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: var(--nba-light-gray);
    color: var(--nba-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: var(--nba-white);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 600px; /* Limita el ancho en pantallas grandes */
    margin: auto; /* Centra el contenedor */
}

.header {
    margin-bottom: 40px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--nba-blue);
    letter-spacing: 2px;
    margin-bottom: 20px; /* Espacio debajo del título */
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: var(--nba-blue);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px; /* Esquinas redondeadas */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: var(--nba-blue);
    color: var(--nba-white); /* Cambia el texto a blanco al pasar el mouse */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


